import Hero from './components/Hero';
import FeatureSection from './components/FeatureSection';
import Footer from './components/Footer';

export default function Landing() {
  return (
    <div className="flex min-h-screen flex-col">
      <Hero />
      <FeatureSection />
      <Footer />
    </div>
  );
}
