import Hero from '@/features/home/components/Hero';
import FeatureSection from '@/features/home/components/FeatureSection';
import Footer from '@/features/home/components/Footer';

export default function Home() {
  return (
    <div className="flex min-h-screen flex-col">
      <Hero />
      <FeatureSection />
      <Footer />
    </div>
  );
}
